*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 226px);
    grid-template-rows: 335px 335px;
}

.box{
    background-color: #FFFFFF;
    border: 0.5px solid  rgba(42, 42, 42, 0.15);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.06);
    margin: 10px;
    position: relative;
}

.element1{
    width: 59px;
    height: 25px;
    background: #7FAD39;
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text1{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 30px;
    color: #FFFFFF;
}

.element2{
    width: 32px;
    height: 32px;
    border-radius: 50px;
    background: #D8E6C3;
    position: absolute;
    top: 20px;
    left: 154px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.element3{
    width: 185px;
    height: 136px;
    position: absolute;
    top: 53px;
    left: 10px;
    right: 20.36px;
}

.img1{
    object-fit: cover;
}

.element4{
    width: 174px;
    height: 33px;
    position: absolute;
    left: 16px;
    right: 26px;
    top: 198px;
    text-align: center;
}

.stable{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 22px;
    color:  #A9A9A9;
}

.unstabe{
    font-family: sans-serif;
    font-style: normal;
    font-family: 800;
    font-size: 16px;
    line-height: 22px;
}

.element5{
    width: 174px;
    height: 13px;
    /* background-color: black; */
    position: absolute;
    right: 26px;
    left: 16px;
    top: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
}

.element6{
    width: 25px;
    height: 25px;
    background-color: #2A2A2A;
    position: absolute;
    top: 280px;
    bottom: 20px;
    left: 10px;
    right: 181px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.element7{
    width: 8px;
    height: 13px;
    position: absolute;
    top: 285px;
    bottom: 20px;
    left: 46px;
    right: 164px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 22px;

}

.element8{
    width: 25px;
    height: 25px;
    background-color: #2A2A2A;
    position: absolute;
    top: 280px;
    bottom: 20px;
    left: 65px;
    right: 131px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.element9{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 280px;
    left: 173px;
}

@media (max-width:1200px){
    .container{
        width: 100%;
        height: auto;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(4, 226px);
        grid-template-rows: 335px 335px 335px;
    }
}

@media (max-width:900px){
    .container{
        width: 100%;
        height: auto;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 226px);
        grid-template-rows: 335px 335px 335px 335px;
    }
}

@media (max-width:500px){
    .container{
        width: 100%;
        height: auto;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 226px);
        grid-template-rows: 335px 335px 335px 335px 335px;
    }
}